iframe {
    display: block;
    margin: 0 auto;
    top: 0;
    width: 90vw;
    height: calc(90vw/1.77777778);
}

.margin-space { 
    margin-left: 20px; 
    margin-right: 20px; 
}

.margin-top {
    margin-top: 10px;
    margin-bottom: 10px;
}

.intendleft {
    margin-left: 50px;
}

.intendright {
    margin-right: 50px;
}

.borderTeam {
    width: 60%;
    display: block;
    margin: 0 auto;
}